.edit-button {
    outline: none;
    background: transparent;
    border: none;
    /* border-radius: 20px; */
}

.edit-button-image {
    position: relative;
    width: 30px;
    height: 30px;
    position: relative;
    /* background: url('../images/delete-button.png') no-repeat center top; */
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: -1px -1px 1px black;
}

.edit-button-image:hover {
    box-shadow: -1px -1px 1px black;
    height: 40px;
    width: 40px;
    transition-duration: .1s;
}