/* TODO Add site wide styles */

* {}

body {
    height: 75%
}

#root {
    height: 100%;
}

html {
    height: 100%;
}

.confirm-button {
    outline: none;
    background: transparent;
    border: none;
}

.confirm-button-image {
    position: relative;
    width: 30px;
    height: 30px;
    position: relative;
    /* background: url('../images/delete-button.png') no-repeat center top; */
    cursor: pointer;
    border-radius: 50px;
    box-sizing: border-box;
    background: #78B69A;
}

.confirm-button-image:hover {
    box-shadow: -1px -1px 1px black;
    height: 40px;
    width: 40px;
    transition-duration: .1s;
}

.cancel-button {
    outline: none;
    background: transparent;
    border: none;
}

.cancel-button-image {
    position: relative;
    width: 30px;
    height: 30px;
    position: relative;
    /* background: url('../images/delete-button.png') no-repeat center top; */
    cursor: pointer;
    border-radius: 50px;
    box-sizing: border-box;
    background: #ff8daa;
}

.cancel-button-image:hover {
    box-shadow: -1px -1px 1px black;
    height: 40px;
    width: 40px;
    transition-duration: .1s;
}

.quadrant {
    display: inline-block;
    width: 50%;
    border-radius: 30px;
}

.quadrant.top-left {
    position: absolute;
    /* display: inline-block; */
    top: 0px;
    left: 0px;
    height: 50%;
    background: #fdaeae;
}

.quadrant.top-left:hover {
    background: #ff8daa;
    /* transform-origin: bottom right 60px;
    transform: rotate(45deg); */
    transition-duration: .5s;
}

.quadrant.top-right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50%;
    background: #f6e2b3;
}

.quadrant.top-right:hover {
    background: #fcdc90;
    transition-duration: .5s;
}

.quadrant.bottom-right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 50%;
    background: #b49982;
}

.quadrant.bottom-right:hover {
    background: #7e6651;
    transition-duration: .5s;
}

.quadrant.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50%;
    background: #78B69A;
}

.quadrant.bottom-left:hover {
    background: #54b489;
    transition-duration: .5s;
}