.create-button {
    outline: none;
    background: transparent;
    border: none;
    box-sizing: border-box;
    /* border-radius: 50px;
    box-shadow: 4px 4px 4px black; */
}

.create-button-image {
    position: relative;
    width: 30px;
    height: 30px;
    position: relative;
    /* background: url('../images/delete-button.png') no-repeat center top; */
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 2px 2px 2px black;
}