.delete-button {
    outline: none;
    background: transparent;
    border: none;
}

.delete-button-image {
    position: relative;
    width: 30px;
    height: 30px;
    position: relative;
    /* background: url('../images/delete-button.png') no-repeat center top; */
    cursor: pointer;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
}

.delete-button-image:hover {
    /* box-shadow: 1px 1px 1px black; */
    height: 40px;
    width: 40px;
    transition-duration: .1s;
}